
.clearfix:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfix{zoom:1}
ul,li{
    list-style:none;
}
.qrm-input{
    outline: none;
    border:none;
    height: 38px;
    
    position: absolute;
    left: 4px;
    top: 0;
    padding: 0 10px;
}
.qrm-input-border{
	position: relative;
}
.qrm-pinming{
    height: 45px;
    line-height: 40px;
    border:1px solid #dddddd;
    border-radius: 5px;
    position: relative;
    width: 100%;
    background-image: url("../images/qrm-arrow-down.png");
    background-repeat: no-repeat;
    background-position: 275px;
}
.qrm-pinming:hover{
    cursor: pointer;
}
.qrm-pinming input:hover{
    cursor: pointer;
}
.qrm-pinming-panel{
    position: absolute;
    top: 52px;
    left: -1px;
    z-index: 99999;
    width: 100%;
    height: 70%;
    /*border: 1px solid #409EFF;*/
    background: #ffffff;
}
.qrm-border1{
    float: left;
    width: 20%;
    height: 68%;
    /*overflow-y: scroll;*/
    border-right: 1px solid #f1f1f1;
    box-shadow: 0 0px 5px #f1f1f1;
    position: absolute;
    top: 50px;
    /*margin-left: 5px;*/
}
.qrm-border2{
    float: left;
    width: 20%;
    height: 68%;
    /*overflow-y: scroll;*/
    border-right: 1px solid #f1f1f1;
    box-shadow: 0 0px 5px #f1f1f1;
 	position: absolute;
    top: 50px;
    left: 20%;
    /*margin-left: 5px;*/
}
.qrm-border3{
    float: left;
    width: 60%;
    height: 68%;
    /*overflow-y: scroll;*/
    border-right: 1px solid #f1f1f1;
    box-shadow: 0 0px 5px #f1f1f1;
    position: absolute;
    top: 50px;
    left: 40%;
    /*margin-left: 5px;*/
}
.qrm-lev{
    float: left;
    width: 96.5%;
    margin:0;
    padding:0;
    font-size: 12px;
}
.qrm-lev>li{
    width: 95%;
    position: relative;
    display: block;
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
}
.qrm-lev>li:hover{
    background: #F5F7FA;
    /*color: #409EFF;*/
}

.qrm-arrow-right{
    display: inline-block;
    width: 4px;
    height: 7px;
    background: url("../images/qrm-arrow-right.png") no-repeat;
    position: absolute;
    right: 7px;
    top: 14px;
}

.qrm-lev-1>li.active{
    background: #F5F7FA;
    color: #409EFF;

}
.qrm-lev-2>li.active{
    background: #F5F7FA;
    color: #409EFF;

}
.qrm-lev-3>li.active{
    background: #F5F7FA;
    color: #409EFF;

}
.qrm-lev-4>li.active{
    background: #F5F7FA;
    color: #409EFF;
}
.box{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}